/*****************************************************************************************
   Author - w3schools
   link - https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_fullscreen_video
 *****************************************************************************************/

* {
   box-sizing: border-box;
}

.background {
   background-image: url("../images/starBG.png");
}

body {
   margin: 0;
   font-family: Arial;
   font-size: 17px;
}

.content {
   position: fixed;
   bottom: 0;
   background: rgba(0, 0, 0, 0.5);
   color: #f1f1f1;
   width: 100%;
   padding: 20px;
}

#myVideo {
   position: fixed;
   right: 0;
   bottom: 0;
   min-width: 100%;
   min-height: 100%;
}

video {
   position: absolute;
   top: -1.75vw;
   left: -7.5vw;
   margin: auto;
}