* {
  box-sizing: border-box;
}

.imgh-responsive {
  height: 100%;
  width: auto;
}

html, body {
  width: 100%;
  min-height: 100%;
}

body {
  padding: 40px;
  font-family: "Lora", serif;
  overflow: auto;
  background-size: cover;
  background-color: black;
}

#container {
  height: 250px;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.noselect, #spinning-wheel {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#spinning-wheel {
  height: 600px;
  width: 750px;
  border-radius: 50%;
  overflow: hidden;
  background: transparent;
  color: white;
  position: relative;
  margin: 0 auto;
  /* WHEEL NAVIGATION */
}
#spinning-wheel .circle {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  overflow: hidden;
  background-image: url("./2_venus-removebg-preview.png");
  background-size: 120%;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  border: double 6px rgb(56, 41, 27);
  font-family: "Arvo";
}
#spinning-wheel .centerText{
  color: rgb(241, 201, 113);
  font-size: 20px;
  position: absolute;
  top: 35%;
  left: 39%
}
#spinning-wheel .center-circle {
  background:transparent;
  width: 50%;
  height: 50%;
  position: absolute;
  border-radius: 50%;
  top: 25%;
  left: 25%;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
}
#spinning-wheel .center-content {
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  color: initial;
  width: 100%;
  height: 100%;
}
#spinning-wheel .item {
  background: transparent;
  color: rgb(255, 255, 255);
  width: 100%;
  height: 50%;
  text-align: center;
  padding-top: 3%;
  position: absolute;
  top: 0;
  left: 0;
  border-top-left-radius: 70% 100%;
  border-top-right-radius: 80% 100%;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  transform-origin: 50% 100%;
  transform: rotate(180deg);
  font-size: 50px;
}
#spinning-wheel .item a {
  color:rgb(56, 41, 27);
  transition: color 0.5s;
}
#spinning-wheel .item a:hover + #spinning-wheel .circle{
  border: double 6px rgb(255, 255, 255);
}
#spinning-wheel .item a:hover, #spinning-wheel .item a:focus, #spinning-wheel .item a:active {
  color: white;
}
#spinning-wheel .item.active {
  transform: none;
}
#spinning-wheel .cc {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  display: none;
}
#spinning-wheel .cc:before {
  content: '';
  display: inline-block;
  width: 0px;
  height: 100%;
  vertical-align: middle;
}
#spinning-wheel .cc > * {
  width: 60%;
  height: 80%;
  margin: 0 auto;
  display: inline-block;
  vertical-align: middle;
}
#spinning-wheel .cc.active {
  display: block;
  visibility: visible;
  opacity: 1;
}
#spinning-wheel .center-content.half-circle {
  height: 50%;
  border-top-left-radius: 50% 100%;
  border-top-right-radius: 50% 100%;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  overflow: hidden;
}
#spinning-wheel .wheel-navi {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  z-index: 30;
}
#spinning-wheel .wheel-navi a, #spinning-wheel .wheel-navi a:focus, #spinning-wheel .wheel-navi a:hover {
  color: white;
  padding: 0;
  font-size: 60px;
  text-decoration: none;
  margin-top: -80px;
}
#spinning-wheel .wheel-navi #wheel-next {
  float: right;
  margin-right: 40px;
}
#spinning-wheel .wheel-navi #wheel-prev {
  float: left;
  margin-left: 40px;
}

#center-img {
  margin-top: 5%;
}

#center-text span {
  display: inline-block;
  vertical-align: middle;
}